//RESPONSIVE SIZE
$large-width: 1199px;
$medium-width: 991px;
$small-width: 767px;
$extra-small-width: 575px;
//-----------//


$fontLight: #fff;
$fontDarkTrans:#1b2e4bb3;
$FontColorLight: #0168fa;
$FontColorDark:#031a61;
//WHITE MODE
$bgLightPurple: #f2f7fe;
$bgPurple:#28a8ea;
$fontPurple: #a2abe1;

$borderColor: #D4D4D4;
$bgIcon:#5166bd;
$bgBtn:#282cb1cc;

//DARK MODE
$bgDarkPurple: #3e4678;
$bgDark: #212529;
$bgIconOrange: #ff7a29;
$DarkFontColor: #f8f9fa;

//LOGIN
$LoginBg: linear-gradient(0deg,#272ab0,#91a3f9);

