* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  color: #001737;
  font-size: 0.875rem;
  overflow: hidden;
}

.Container .Container-dark {
  background-color: #212529;
}
.Container .Container-light {
  background-color: #fff;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  border-bottom: 1px solid rgba(72, 94, 144, 0.1607843137);
  background-color: #fff;
}
.header .logo {
  width: 240px;
  padding-left: 20px;
}
.header .logo .logo-img {
  width: 90px;
  height: 59.6px;
}
.header .nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
}
.header .nav-menu ul li a {
  margin-right: 35px;
  color: #031a61;
  font-weight: 500;
}
.header .nav-menu ul li a:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}
.header .notification-bar {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.header .notification-bar .darkLight {
  display: flex;
  align-items: center;
}
.header .notification-bar .darkLight .dark-light {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
}
.header .notification-bar .darkLight .dark-light .fa {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  transition: all 0.3s ease;
}
.header .notification-bar .darkLight .dark-light .fa-sun {
  opacity: 0;
  pointer-events: none;
}
.header .notification-bar .darkLight .dark-light .fa-sun.active {
  opacity: 1;
  pointer-events: auto;
}
.header .notification-bar .darkLight .dark-light .fa-moon {
  opacity: 1;
  pointer-events: none;
}
.header .notification-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header .notification-bar ul .avatar {
  border-radius: 50%;
  background-color: rgba(27, 46, 75, 0.7019607843);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header .notification-bar .fa-regular,
.header .notification-bar .fa-solid {
  color: #031a61;
  cursor: pointer;
}
.header .notification-bar .fa-regular:hover,
.header .notification-bar .fa-solid:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}

.left-container {
  width: 240px;
  height: 500px;
  position: absolute;
  background-color: #fff;
  border-right: 1px solid #f2f7fe;
  top: 10.5%;
}
.left-container .left-bar-create-btns {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #f2f7fe;
  padding: 20px;
  gap: 23px;
}
.left-container .left-bar-create-btns .new-btn-dropdown .new-btn {
  width: 85px;
  height: 26px;
  background: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: rgba(27, 46, 75, 0.7019607843);
  letter-spacing: 0.5px;
  border: 1px solid #c0ccda;
  border-radius: 0.25rem;
  cursor: pointer;
}
.left-container .left-bar-create-btns .new-btn-dropdown .new-btn:hover {
  color: #3e4678;
  border: 1px solid #3e4678;
  transition: all 0.4s ease 0s;
}
.left-container .left-bar-create-btns .new-btn-dropdown .dropdown-menu {
  width: 100px;
  position: absolute;
  display: block;
  will-change: transform;
  z-index: 1000;
  float: left;
  color: #001737;
  background-color: #fff;
  text-align: left;
  border-radius: 0.25rem;
  border: 1px solid rgba(131, 146, 165, 0.2705882353);
}
.left-container .left-bar-create-btns .new-btn-dropdown .dropdown-menu li {
  width: 100px;
  height: 31px;
  padding: 6px 14px;
  cursor: pointer;
}
.left-container .left-bar-create-btns .new-btn-dropdown .dropdown-menu li:hover {
  width: 100px;
  height: 31px;
  color: rgba(40, 44, 177, 0.8);
  background-color: #a2abe1;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .upload-btn {
  width: 85px;
  height: 26px;
  background: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  background-color: rgba(40, 44, 177, 0.8);
  border: 1px solid rgba(40, 44, 177, 0.8);
  border-radius: 0.25rem;
  cursor: pointer;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .upload-btn:hover {
  background-color: #3e4678;
  border: 1px solid #212529;
  transition: all 0.4s ease 0s;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .dropdown-menu {
  width: 100px;
  position: absolute;
  display: block;
  will-change: transform;
  z-index: 1000;
  float: left;
  color: #001737;
  background-color: #fff;
  text-align: left;
  border-radius: 0.25rem;
  border: 1px solid rgba(131, 146, 165, 0.2705882353);
}
.left-container .left-bar-create-btns .upload-btn-dropdown .dropdown-menu li {
  width: 100px;
  height: 31px;
  padding: 6px 14px;
  cursor: pointer;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .dropdown-menu li:hover {
  width: 100px;
  height: 31px;
  color: rgba(40, 44, 177, 0.8);
  background-color: #a2abe1;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.left-container .scroll-bar {
  height: 94%;
  margin-top: 30%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
.left-container .scroll-bar:hover {
  overflow: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.left-container .scroll-bar:hover::-webkit-scrollbar {
  width: 4px;
}
.left-container .scroll-bar:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f7fe;
  border-radius: 10px;
}
.left-container .scroll-bar:hover::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 10px;
}
.left-container .scroll-bar:hover::-webkit-scrollbar-thumb:hover {
  background: #a2abe1;
}
.left-container .scroll-bar .language-bar {
  width: 240px;
  margin-bottom: 15px;
}
.left-container .scroll-bar .menu-title {
  margin-bottom: 10px;
  margin-top: 10px;
}
.left-container .scroll-bar .menu-title span {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #D4D4D4;
}
.left-container .scroll-bar .my-drive,
.left-container .scroll-bar .file-lib {
  padding-left: 25px;
}
.left-container .scroll-bar .my-drive li,
.left-container .scroll-bar .file-lib li {
  width: 199px;
  height: 31px;
  padding: 6px 10px;
}
.left-container .scroll-bar .my-drive li:hover,
.left-container .scroll-bar .file-lib li:hover {
  width: 199px;
  height: 31px;
  color: rgba(40, 44, 177, 0.8);
  background-color: #a2abe1;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.left-container .scroll-bar .my-drive a,
.left-container .scroll-bar .file-lib a {
  color: #031a61;
  font-size: 13px;
}
.left-container .scroll-bar .my-drive .fa-regular,
.left-container .scroll-bar .my-drive .fa-solid,
.left-container .scroll-bar .file-lib .fa-regular,
.left-container .scroll-bar .file-lib .fa-solid {
  margin-right: 10px;
}
.left-container .scroll-bar .storage {
  padding-left: 25px;
}
.left-container .scroll-bar .storage .menu-title {
  margin-bottom: 25px;
}
.left-container .scroll-bar .storage .storage-status {
  display: flex;
  flex-direction: column;
  width: 199px;
  height: 45px;
}
.left-container .scroll-bar .storage .storage-status .used {
  position: relative;
  bottom: 35%;
  left: 21%;
  width: 83%;
  font-size: 14px;
}
.left-container .scroll-bar .storage .storage-status .progress {
  position: relative;
  bottom: 35%;
  left: 21%;
}
.left-container .scroll-bar .storage .offer {
  width: 199px;
  position: relative;
  bottom: 20px;
}
.left-container .scroll-bar .storage .offer .offer-text {
  font-size: 12px;
}
.left-container .scroll-bar .storage .offer a {
  color: #0168fa;
  font-size: 12px;
  margin-bottom: 6px;
}

.search {
  width: 81%;
  height: 48px;
  position: absolute;
  background-color: #fff;
  border-bottom: 1px solid #f2f7fe;
  border-top: transparent;
  top: 10.5%;
  left: 19%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search .search-bar {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.search .search-bar .fa-solid {
  color: grey;
  cursor: pointer;
}
.search .search-bar input {
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 89%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: grey;
  font-size: 14px;
}
.search .settings ul {
  display: flex;
  flex-direction: row;
}
.search .settings ul li {
  margin-right: 20px;
}
.search .settings ul .fa-solid {
  color: grey;
}
.search .settings ul .fa-solid:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}

.main-container {
  width: 81%;
  position: absolute;
  top: 19%;
  left: 19%;
  background-color: #f2f7fe;
  padding: 20px 25px;
  height: 94%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 15px;
}
.main-container:hover {
  overflow: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.main-container:hover::-webkit-scrollbar {
  width: 4px;
}
.main-container:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f7fe;
  border-radius: 10px;
}
.main-container:hover::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 10px;
}
.main-container:hover::-webkit-scrollbar-thumb:hover {
  background: #a2abe1;
}
.main-container h1 {
  font-weight: 500;
  line-height: 1.25;
  color: #031a61;
}
.main-container .menu-title {
  margin-bottom: 15px;
}
.main-container .menu-title span {
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(27, 46, 75, 0.7019607843);
}
.main-container .folders {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 81%;
  height: 45%;
  justify-content: center;
}
.main-container .folders .folder-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  row-gap: 15px;
}
.main-container .folders .folder-items .folder {
  width: 236px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.main-container .folders .folder-items .folder .fa-regular {
  opacity: 0.7;
  color: rgba(40, 44, 177, 0.8);
}
.main-container .folders .folder-items .folder .description .name {
  font-weight: 500;
}
.main-container .folders .folder-items .folder .description .name:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}
.main-container .folders .folder-items .folder .description .count {
  font-size: 10px;
  letter-spacing: 0.2px;
  color: rgba(27, 46, 75, 0.7019607843);
}
.main-container .RecentlyAccessed-container {
  margin-bottom: 20px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 188px);
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container {
  width: 188px;
  height: 222px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(72, 94, 144, 0.1607843137);
  border-radius: 4px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .icon-preview {
  width: 166px;
  height: 120px;
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .icon-preview .icon {
  width: 48px;
  height: 48px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .name {
  font-weight: 500;
  transition: all 0.4s ease 0s;
  margin-top: 10px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .name:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .type {
  color: #475362;
  margin-top: 5px;
  font-size: 12px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .size {
  font-size: 12px;
  color: #8392a5;
  margin-top: 9px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .seen {
  font-size: 12px;
  color: #8392a5;
  margin-top: 9px;
}
.main-container .Files-container {
  margin-bottom: 7%;
}
.main-container .Files-container .AllFilesList-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 188px);
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container {
  width: 188px;
  height: 222px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(72, 94, 144, 0.1607843137);
  border-radius: 4px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .icon-preview {
  width: 166px;
  height: 120px;
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .icon-preview .icon {
  width: 48px;
  height: 48px;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .name {
  font-weight: 500;
  transition: all 0.4s ease 0s;
  margin-top: 10px;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .name:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .type {
  color: #475362;
  margin-top: 5px;
  font-size: 12px;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .size {
  font-size: 12px;
  color: #8392a5;
  margin-top: 9px;
}

.modal-container {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  font-size: 0.875rem;
  color: #001737;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(131, 146, 165, 0.2705882353);
  border-radius: 0.25rem;
  box-shadow: rgba(28, 39, 60, 0.0392156863) 0px 0px 8px 2px;
  padding: 5px;
  display: block;
  top: 1%;
  right: 0px;
  margin-top: 10px;
}
.modal-container .modal-close {
  background: none;
  border: none;
  position: relative;
  left: 89%;
  cursor: pointer;
}
.modal-container .menu-hidden .menu-list {
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out 0s;
  clear: both;
  font-weight: 400;
  color: #1c273c;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
  background: transparent;
  border: none;
}
.modal-container .menu-hidden .menu-list:hover {
  background-color: rgba(162, 171, 225, 0.2705882353);
  border-radius: 0.25rem;
  transition: all 0.4s ease 0s;
}
.modal-container .menu-hidden .menu-hidden-icon {
  width: 14px;
  height: 14px;
  stroke-width: 2.5px;
  margin-right: 10px;
  color: #8392a5;
}

.modal-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.modal-button-icon {
  width: 18px;
  height: 18px;
}

.authorization {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://login-static.cdn-one.com/v8.1.0/media/filemanager.9ac8bde2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.authorization .authorization-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 22%;
  width: 100%;
  height: 45%;
  background-color: rgba(27, 46, 75, 0.7019607843);
  text-align: center;
}
.authorization .authorization-content .login {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid white;
}
.authorization .authorization-content .login .login-content h2 {
  color: #fff;
  padding-top: 15px;
}
.authorization .authorization-content .login .login-content .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.authorization .authorization-content .login .login-content .login-form input[type=text], .authorization .authorization-content .login .login-content .login-form [type=password] {
  line-height: 21px;
  height: 20px;
  border: 1px solid #c6c6c6;
  color: #3c3c3c;
  border-radius: 27px;
  padding: 25px 30px;
  outline: 0 none;
  font-size: 15px;
}
.authorization .authorization-content .login .login-content .login-form .login-form-submit {
  width: 150px;
  background-color: #0078c8;
  line-height: 31px;
  padding: 0 30px;
  border-radius: 27px;
  font-size: 15px;
  color: #fff;
  border: 2px solid #0078c8;
  outline: 0 none;
  cursor: pointer;
}
.authorization .authorization-content .login .login-content .login-form .forgot {
  color: #f3f7f9;
  text-decoration: none;
  margin-top: 10px;
}
.authorization .authorization-content .register {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.authorization .authorization-content .register .register-content h2 {
  color: #fff;
  padding-top: 15px;
}
.authorization .authorization-content .register .register-content span {
  color: #fff;
}
.authorization .authorization-content .register .register-content .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.authorization .authorization-content .register .register-content .register-form input[type=text], .authorization .authorization-content .register .register-content .register-form [type=password] {
  line-height: 21px;
  height: 20px;
  border: 1px solid #c6c6c6;
  color: #3c3c3c;
  border-radius: 27px;
  padding: 25px 30px;
  outline: 0 none;
  font-size: 15px;
}
.authorization .authorization-content .register .register-content .register-form .register-form-submit {
  width: 150px;
  background-color: #0078c8;
  line-height: 31px;
  padding: 0 30px;
  border-radius: 27px;
  font-size: 15px;
  color: #fff;
  border: 2px solid #0078c8;
  outline: 0 none;
  cursor: pointer;
}
.authorization .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  top: 43%;
  width: 100%;
  height: 10%;
  text-align: center;
}
.authorization .copyright {
  color: #fff;
}

.LanguageBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.LanguageBar select {
  width: 120px;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: rgba(146, 145, 145, 0.4901960784);
  color: #fff;
  cursor: pointer;
}
.LanguageBar select:focus {
  border: none;
}/*# sourceMappingURL=App.css.map */