@import "./styles/variables";
@import "./styles/mixins";

* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --text-main: #1b2e4b;
  --text-white: #fff;
  --text-dark: #8392a5;
  --text-orange: #3b4863;

  --bg-white: #fff;
  --bg-dark: #421D44;
  --bg-files: #f5f6fa;
  --bg-file-inside: #fff;
  --bg-border: #D533F3;
  --bg-line: #f2f7fe;
  --bg-avatar: #8392a5;
  --bg-hover:#f5f6fa;
  --bg-btn-menu: #fff;

  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  overflow: hidden;
}

.dark-content {
  --text-main: #cdd4e0;
  --text-white: #97a3b9;
  --text-dark: #fff;
  --text-orange: #DA583C;

  --bg-white: #141c2b;
  --bg-dark: #DA583C;
  --bg-files: #1c273c;
  --bg-file-inside: #192235;
  --bg-border: #1c273c;
  --bg-line:  #485e9029;
  --bg-avatar: #8392a5;
  --bg-hover:#a2abe162;
  --bg-btn-menu: #1c2639;
}

//DARK MODE
.wrapper {
  width: 50px;
  height: 25px;
  position: absolute;
  right: 14.5%;
  top: 3.5%;
  z-index: 11111;

  .switch {
    position: absolute;
    left: 25%;
    top: 43%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 21px;

    input {
      display: none;
    }

    .wave {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      width: 50px;
      height: 21px;
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--text-main);
      transition: all 1.4s;
      border-radius: 10.5px;
      /* Half of the height to make a rounded effect */
      z-index: 100;
      overflow: hidden;

      &:before,
      &:after {
        position: absolute;
        content: "";
        height: 13px;
        /* Half of the height to make a rounded effect */
        width: 13px;
        /* Half of the height to make a rounded effect */
        left: 2px;
        /* Adjusted position for the slider before and after elements */
        bottom: 4px;
        /* Adjusted position for the slider before and after elements */
        border-radius: 10.5px;
        /* Half of the height to make a rounded effect */
        background-color: #fff;

      }

      &:before {
        transition: 0.4s;
      }

      &:after {
        transition: 0.5s;
      }
    }

    input:checked+.slider {
      background-color: transparent;
    }

    input:checked~.wave {
      background-color: var(--text-orange);
      display: block;
    }

    input:checked+.slider:before {
      transform: translateX(32.5px);
      /* Half of the width to center the before element */
    }

    input:checked+.slider:after {
      transform: translateX(32.5px);
      /* Half of the width to center the after element */
    }
  }
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  // top: 0px;
  // left: 0px;
  // z-index: 1001;
  border-bottom: 1px solid var(--bg-line);
  background-color: var(--bg-white);

  .logo {
    width: 19%;
    height: 60px;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
    display: flex;
    padding-left: 20px;
    align-items: center;
a{
  font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    color: #031a61;
    margin-top: -4px;
    span{
      font-weight: 400;
      color: #0168fa;
    }
}
  }

  .nav-menu {
    width: 46.3%;
    height: 60px;
    .search {
      // width: 81%;
      // height: 48px;
      width: 46.3%;
      height: 60px;
      position: absolute;
      border-bottom: 1px solid var(--bg-line);
      border-left: 1px solid var(--bg-line);
      border-top: transparent;
      // top: 9.8%;
      left: 18.7%;
      padding: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--bg-white);

      .search-bar {
        width: 70.3%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-radius: 50px;
        border-color: #969494;
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),
          inset 0 -1px 0 rgba(0, 15, 48, 0.07);

        .fa-solid {
          color: var(--text-dark);
          cursor: pointer;
          opacity: 0.5;
        }

        input {
          align-items: center;
          padding: 8px 16px;
          gap: 8px;
          width: 89%;
          height: 40px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 14px;
          color: var(--text-dark);

        }

        input::placeholder {
          font-weight: 500;
          opacity: 0.5;
          color: var(--text-dark);

        }
      }
    }
  }

  .notification-bar {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 24px;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;

      .avatar {
        border-radius: 50%;
        background-color: var(--bg-avatar);
        color: $fontLight;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .fa-regular,
    .fa-solid {
      color: var(--text-main);
      cursor: pointer;

      &:hover {
        color:  var(--text-dark);
        transition: all 0.4s ease 0s;
      }
    }
  }
  .settings {
    width: 100%;
    height: 54.5px;
    position: fixed;
    align-items: center;
    background-color: var(--bg-white);
    border-bottom: 1px solid var(--bg-line);
    z-index: 111;

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      left: 68.6%;
      // padding: 20px 25px;

      li {
        // margin-right: 20px;
        padding: 20px 15px;

      }

      .fa-solid {
        // color: var(--text-main);
        color: #969494;

        &:hover {
          color: var(--text-dark);
          transition: all 0.4s ease 0s;
        }
      }
    }
  }
}

.left-container {
  width: 220px;
  height: 500px;
  position: absolute;
  background-color: var(--bg-white);
  border-right: 1px solid var(--bg-line);
  top: 9.8%;

  .left-bar-create-btns {
    width: 240px;
    height: 55px;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: var(--bg-btn-menu);
    border-bottom: 1px solid var(--bg-line);
    padding: 10.8px;
    gap: 23px;

    .new-btn-dropdown {
      .new-btn {
        width: 85px;
        height: 26px;
        background: none;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.5px;
        border-radius: 0.25rem;
        cursor: pointer;
        border: 1px solid #3b4863;
        transition: color 0.15s ease-in-out 0s,
         background-color 0.15s ease-in-out 0s, 
         border-color 0.15s ease-in-out 0s, 
         box-shadow 0.15s ease-in-out 0s;
        color: #fff;
        background-color: #3b4863;

        &:hover {
          color: $bgDarkPurple;
          border: 1px solid #3b4863;
          transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
          color: rgb(255, 255, 255);
          background-color: #1d293f;
        }
      }

      .dropdown-menu {
        width: 100px;
        position: absolute;
        display: block;
        will-change: transform;
        z-index: 1000;
        float: left;
        background-color: var(--bg-white);
        text-align: left;
        border-radius: 0.25rem;
        border: 1px solid #8392a545;

        li {
          width: 100px;
          height: 31px;
          padding: 6px 14px;
          cursor: pointer;
          color: var(--text-dark);

          &:hover {
            width: 100px;
            height: 31px;
            color: var(--text-dark);
            background-color: var(--bg-hover);
            align-items: center;
            border-radius: 0.25rem;
            font-weight: 500;
            transition: all 0.4s ease 0s;
          }
        }
      }
    }

    .upload-btn-dropdown {
      .upload-btn {
        width: 85px;
        height: 26px;
        background: none;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        color: $fontLight;
        letter-spacing: 0.5px;
        border-radius: 0.25rem;
        cursor: pointer;
        border: 1px solid #0168fa;
        transition: color 0.15s ease-in-out 0s, 
        background-color 0.15s ease-in-out 0s, 
        border-color 0.15s ease-in-out 0s, 
        box-shadow 0.15s ease-in-out 0s;
        color: #fff;
        background-color: #0168fa;

        &:hover {
          background-color: #0254c6;
          border: 1px solid #034cb4;
          // transition: all 0.4s ease 0s;
          transition: color 0.15s ease-in-out 0s,
           background-color 0.15s ease-in-out 0s, 
           border-color 0.15s ease-in-out 0s, 
           box-shadow 0.15s ease-in-out 0s;
        }
      }

      .dropdown-menu {
        width: 100px;
        position: absolute;
        display: block;
        will-change: transform;
        z-index: 1000;
        float: left;
        background-color: var(--bg-white);
        text-align: left;
        border-radius: 0.25rem;
        border: 1px solid #8392a545;

        li {
          width: 100px;
          height: 31px;
          padding: 6px 14px;
          cursor: pointer;
          color: var(--text-dark);

          &:hover {
            width: 100px;
            height: 31px;
            color: var(--text-dark);
            background-color: var(--bg-hover);
            align-items: center;
            border-radius: 0.25rem;
            font-weight: 500;
            transition: all 0.4s ease 0s;
          }
        }
      }
    }
  }

  .scroll-bar {
    height: 89%;
    margin-top: 24%;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--bg-white);

    &:hover {
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--bg-white);
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $borderColor;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $fontPurple;
      }
    }

    .language-bar {
      width: 240px;
      margin-bottom: 15px;

    }

    .menu-title {
      margin-bottom: 10px;
      margin-top: 10px;

      span {
        font-size: 10px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: 500;
        color: $borderColor;
      }
    }

    .my-drive,
    .file-lib {
      padding-left: 25px;

      li {
        width: 199px;
        height: 31px;
        padding: 6px 10px;
        &:hover {
          width: 185px;
          height: 31px;
          color: var(--text-dark);
          background-color: var(--bg-hover);
          align-items: center;
          border-radius: 0.25rem;
          font-weight: 500;
          transition: all 0.4s ease 0s;
        }
      }

      a {
        color: var(--text-main);
        font-size: 13px;
      }

      .fa-regular,
      .fa-solid {
        margin-right: 10px;
      }
    }

    .storage {
      padding-left: 25px;

      .menu-title {
        margin-bottom: 25px;
      }

      .storage-status {
        display: flex;
        flex-direction: column;
        width: 199px;
        height: 45px;
        color: var(--text-main);

        .used {
          position: relative;
          bottom: 35%;
          left: 21%;
          width: 83%;
          font-size: 14px;
        }

        .progress {
          position: relative;
          bottom: 35%;
          left: 21%;
        }
      }

      .offer {
        width: 199px;
        position: relative;
        bottom: 20px;

        .offer-text {
          font-size: 12px;
          color: var(--text-main);
        }

        a {
          color: var(--text-dark);
          font-size: 12px;
          margin-bottom: 6px;
        }
      }
    }
  }
}


.main-container {
  width: 81%;
  position: absolute;
  top: 9.9%;
  left: 18.7%;
  background-color: var(--bg-white);
  border-left: 1px solid var(--bg-line);
  height: 94%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 15px;

  &:hover {
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px var(--bg-white);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $borderColor;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $fontPurple;
    }
  }

.main-content{
  position: absolute;
  top: 10%;
  padding: 20px 25px;
  width: 100%;
  height: 500px;

  h1 {
    width: 90%;
    font-weight: 500;
    line-height: 1.25;
    color: var(--text-main);
  }

.menu-title {
  margin-bottom: 15px;

  span {
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: $borderColor;
  }
}.menu-notification-text{
  font-size: 16px;
}
.folders {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 45%;
  justify-content: center;

  .folder-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    row-gap: 15px;

    .folder {
      width: 216px;
      height: 53px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      background-color: var(--bg-files);
      // border: 1px solid var(--text-main);
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      position: relative;

      .fa-regular {
        opacity: 0.7;
        color: #0168fa;
      }

      .description {
        .name {
          font-weight: 500;
          color: var(--text-main);

          &:hover {
            color: var(--text-dark);
            transition: all 0.4s ease 0s;
          }
        }

        .count {
          font-size: 10px;
          letter-spacing: 0.2px;
          color: #475362;
        }
      }
    }
  }

}

.RecentlyAccessed-container {
   margin-bottom: 20px;

  .AllFilesList-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 170px);

    .AllFilesPost-container {
      width: 170px;
      height: 222px;
      display: flex;
      flex-direction: column;
      min-width: 0px;
      overflow-wrap: break-word;
      background-color: var(--bg-files);
      background-clip: border-box;
      border: 1px solid none;
      border-radius: 4px;
      padding: 10px;
      position: relative;
      cursor: pointer;
      &:hover{
        border: 1px solid #67666633;
}

      .icon-preview {
        width: 146px;
        height: 120px;
        background-color: var(--bg-file-inside);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 48px;
          height: 48px;
        }

      }

      .name {
        font-weight: 500;
        font-size: 12px;
        transition: all 0.4s ease 0s;
        margin-top: 10px;
        color: var(--text-main);

        &:hover {
          color: var(--text-dark);
          transition: all 0.4s ease 0s;
        }
      }

      .type {
        color: #475362;
        margin-top: 5px;
        font-size: 12px;
      }

      .size {
        font-size: 10px;
        color: #8392a5;
        margin-top: 9px;
      }

      .seen {
        font-size: 10px;
        color: #8392a5;
        margin-top: 9px;
      }
    }
  }
}

.Files-container {
  margin-bottom: 7%;

  .AllFilesList-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 170px);

    .AllFilesPost-container {
      width: 170px;
      height: 222px;
      display: flex;
      flex-direction: column;
      min-width: 0px;
      overflow-wrap: break-word;
      background-color: var(--bg-files);
      background-clip: border-box;
      border: 1px solid none;
      border-radius: 4px;
      padding: 10px;
      position: relative;
      cursor: pointer;
      &:hover{
        border: 1px solid #67666633;
}
      .icon-preview {
        width: 146px;
        height: 120px;
        background-color: var(--bg-file-inside);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 48px;
          height: 48px;
        }
      }

      .name {
        font-weight: 500;
        font-size: 12px;
        transition: all 0.4s ease 0s;
        margin-top: 10px;
        color: var(--text-main);

        &:hover {
          color: var(--text-dark);
          transition: all 0.4s ease 0s;
        }
      }

      .type {
        color: #475362;
        margin-top: 5px;
        font-size: 10px;
      }

      .size {
        font-size: 10px;
        color: #8392a5;
        margin-top: 9px;
      }
    }
  }
}
}
.folders-container{
  position: absolute;
  top: 20%;
  padding: 20px 25px;
  width: 100%;
  height: 500px;
  .folders-content{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 170px);
  }
  }
}

//MODAL BUTTONS AND CONTENT
.modal-container {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  font-size: 0.875rem;
  color: #001737;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8392a545;
  border-radius: 0.25rem;
  box-shadow: #1c273c0a 0px 0px 8px 2px;
  padding: 5px;
  display: block;
  top: 1%;
  right: 0px;
  margin-top: 10px;

  .modal-close {
    background: none;
    border: none;
    position: relative;
    left: 89%;
    cursor: pointer;
  }

  .menu-hidden {
    display: flex;
    flex-direction: column;
    padding: 5px;

    .ModalViewDetailsButton,
    .ModalShareButton,
    .Copy,
    .Delete,
    .Move,
    .Rename,
    .Download {
      width: 100px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin: 1rem auto;
      z-index: 10110;
      position: fixed;

      .show {
        display: block;
      }

      .hide {
        display: none;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0000003a;
        transition: opacity 0.2s ease;
      }

      .modal {
        width: 500px;
        height: 487px;
        position: fixed;
        left: 35%;
        bottom: 90%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        transform: translateY(100%);
        transition: transform 0.2s ease;
        box-shadow: 0 2px 8px 3px;

        h1 {
          font-size: 20px;
          line-height: 1.25;
          color: #001737;
          font-weight: 500;
          margin: 0px 0px 8px;
        }

        .desc-form {
          width: 282px;
          height: 100px;

          textarea {
            width: 282px;
            height: 100px;
            padding: 0.46875rem 0.625rem;
            font-size: 0.875rem;
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 400;
            line-height: 1.5;
            color: #1b2e4b;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c0ccda;
            border-radius: 4px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            margin-top: 5px;
            white-space: nowrap;

            &:focus {
              color: #596882;
              background-color: #fff;
              border-color: #7cb2fe;
              outline: 0px;
              box-shadow: #0168fa40 0px 0px 0px 0.2rem;
            }

            &::placeholder {
              color: #c0ccda;
            }
          }
        }

        .details-description {
          display: flex;
          flex-direction: column;

          .description-line {
            display: flex;
            flex-direction: row;

            .left {
              width: 116px;
              margin-top: 10px;
            }

            .right {
              margin: 10px 16px;
            }

            .right-text {
              width: 282px;
              height: 105px;
              margin: 10px 60px;
            }
          }
        }
      }

      .submit {

        .submit-btn {
          width: 69px;
          height: 37px;
          border: none;
          background: transparent;
          cursor: pointer;
          font-weight: 400;
          text-align: center;
          line-height: 1.5;
          border: 1px solid #5f6d88;
          transition: color 0.15s ease-in-out 0s,
            background-color 0.15s ease-in-out 0s,
            border-color 0.15s ease-in-out 0s,
            box-shadow 0.15s ease-in-out 0s;
          color: #fff;
          background-color: #5f6d88;
          padding: 0.46875rem 0.9375rem;
          font-size: 0.875rem;
          border-radius: 0.25rem;
          margin-top: 38px;
          margin-left: 77%;
        }

        .close-btn {
          width: 69px;
          height: 37px;
          border: none;
          background: transparent;
          cursor: pointer;
          font-weight: 400;
          text-align: center;
          line-height: 1.5;
          border: 1px solid #5f6d88;
          transition: color 0.15s ease-in-out 0s,
            background-color 0.15s ease-in-out 0s,
            border-color 0.15s ease-in-out 0s,
            box-shadow 0.15s ease-in-out 0s;
          color: #fff;
          background-color: #5f6d88;
          padding: 0.46875rem 0.9375rem;
          font-size: 0.875rem;
          border-radius: 0.25rem;
          margin-top: 38px;
          margin-left: 77%;
        }
      }


      .details-btn {
        height: 27px;
        width: 100px;
        font-size: 12px;
        display: flex;
        padding: 6px 0px;
        font-weight: 400;
        color: #1c273c;
        background: transparent;
        border: none;
        cursor: pointer;

        .menu-hidden-icon {
          width: 14px;
          height: 14px;
          stroke-width: 2.5px;
          margin-right: 10px;
          color: #8392a5;
        }

      }

    }

    .menu-list {
      height: 27px;
      width: 100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      border-radius: 0.25rem;
      transition: all 0.2s ease-in-out 0s;
      font-weight: 400;
      color: #1c273c;
      text-align: inherit;
      white-space: nowrap;
      background: transparent;
      border: none;

      &:hover {
        background-color: $fontPurpleLight;
        border-radius: 0.25rem;
        transition: all 0.4s ease 0s;
      }
    }

    .ModalShareButton {
      .modal {
        width: 500px;
        height: 377px;

        h1 {
          margin-bottom: 25px;
        }

        .share-email {
          display: flex;
          flex-direction: column;

          form {
            p {
              margin-bottom: 15px;
            }

            input {
              width: 438px;
              height: 38px;
              padding: 0.46875rem 0.625rem;
              font-size: 0.875rem;
              font-weight: 400;
              line-height: 1.5;
              color: rgb(27, 46, 75);
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #c0ccda;
              border-radius: 4px;
              transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
              margin-bottom: 15px;

              &:focus {
                color: #596882;
                background-color: #fff;
                border-color: #7cb2fe;
                outline: 0px;
                box-shadow: #0168fa40 0px 0px 0px 0.2rem;
              }

              &::placeholder {
                color: #c0ccda;
              }
            }
          }
        }

        .rights {
          display: flex;
          flex-direction: row;
          margin: 0px 0px 35px;

          p {
            font-size: 13px;
          }

          select {
            font-size: 13px;
            border: none;
            transition: all 0.4s ease 0s;
            color: #0168fa;
            text-decoration: none;

            option {
              transition: all 0.4s ease 0s;
              color: #0168fa;
              text-decoration: none;
              padding: 5px;
            }
          }
        }

        .share-social {
          border-top: 1px solid rgba(72, 94, 144, 0.16);
          border-bottom: 1px solid rgba(72, 94, 144, 0.16);
          border-bottom-right-radius: calc(0.3rem - 1px);
          border-bottom-left-radius: calc(0.3rem - 1px);
          padding: 20px 0px;

          p {
            margin-bottom: 10px;
          }

          .fa-brands {
            margin-right: 10px;

            &:hover {
              color: #7cb2fe;
            }
          }
        }

        .submit {
          position: relative;
          bottom: 12px;
          width: 100%;
          display: flex;
          flex-direction: row;
          left: 45%;

          .submit-btn {
            margin-right: 20px;
          }
        }
      }
    }

    .Copy,
    .Move {
      .title {
        h1 {
          line-height: 1.25;
          color: #001737;
          font-weight: 500;
          margin: 0px 0px 8px;
        }

        span {
          color: #8392a5;
        }
      }

      .folder-list {
        width: 460px;
        height: 289px;
        padding: 10px;
        border: 1px solid #485e9029;
        background-color: #f5f6fa;
        margin-top: 25px;
      }

      .submit {
        position: relative;
        bottom: 12px;
        width: 100%;
        display: flex;
        flex-direction: row;
        left: 45%;

        .submit-btn {
          margin-right: 20px;
        }
      }
    }
  }
}

.modal-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.star-button {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 7%;
  top: 1%;
  border: none; 
  background: none;
  color: #6e6e6f;
  font-size: 20px;
  cursor: pointer;
  outline: none;   
}
.starred {
  color: gold;
}

.modal-button-icon {
  width: 13px;
  height: 13px;
}

.authorization {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://login-static.cdn-one.com/v8.1.0/media/filemanager.9ac8bde2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .authorization-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 22%;
    width: 100%;
    height: 45%;
    background-color: $fontDarkTrans;
    text-align: center;

    .login {
      display: flex;
      flex-direction: column;
      width: 50%;
      border-right: 1px solid white;

      // padding-right: 20%;
      .login-content {
        h2 {
          color: #fff;
          padding-top: 15px;
        }

        .login-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 10px;

          input[type=text],
          [type=password] {
            line-height: 21px;
            height: 20px;
            border: 1px solid #c6c6c6;
            color: #3c3c3c;
            border-radius: 27px;
            padding: 25px 30px;
            outline: 0 none;
            font-size: 15px;
          }

          .login-form-submit {
            width: 150px;
            background-color: #0078c8;
            line-height: 31px;
            padding: 0 30px;
            border-radius: 27px;
            font-size: 15px;
            color: #fff;
            border: 2px solid #0078c8;
            outline: 0 none;
            cursor: pointer;
          }

          .forgot {
            color: #f3f7f9;
            text-decoration: none;
            margin-top: 10px;

          }
        }
      }
    }

    .register {
      display: flex;
      flex-direction: column;
      width: 50%;

      .register-content {
        h2 {
          color: #fff;
          padding-top: 15px;
        }

        span {
          color: #fff;
        }

        .register-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 10px;

          input[type=text],
          [type=password] {
            line-height: 21px;
            height: 20px;
            border: 1px solid #c6c6c6;
            color: #3c3c3c;
            border-radius: 27px;
            padding: 25px 30px;
            outline: 0 none;
            font-size: 15px;
          }

          .register-form-submit {
            width: 150px;
            background-color: #0078c8;
            line-height: 31px;
            padding: 0 30px;
            border-radius: 27px;
            font-size: 15px;
            color: #fff;
            border: 2px solid #0078c8;
            outline: 0 none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: relative;
    top: 43%;
    width: 100%;
    height: 10%;
    text-align: center;
  }

  .copyright {
    color: #fff;
  }
}

.LanguageBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  select {
    width: 120px;
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #9291917d;
    color: #fff;
    cursor: pointer;
    &:focus {
      border: none;
    }

  }

}

// .popup-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #00000066;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 9999;
//   .popup {
//     background-color: white;
//     border-radius: 5px;
//     padding: 20px;
//     width: 400px;
//     box-shadow: 0 0 10px #00000033;

//     h2 {
//       font-size: 1.8rem;
//       margin-top: 0;
//       color: $fontPurple;
//     }

//     label {
//       display: block;
//       margin-bottom: 10px;
//       font-weight: 500;
//       color: $fontDarkTrans;
//     }

//     input[type=email] {
//       width: 100%;
//       padding: 10px;
//       border: 1px solid #ccc;
//       border-radius: 5px;
//       margin-bottom: 20px;
//       box-sizing: border-box;
//     }

//     .button-container {
//       display: flex;
//       justify-content: space-between;
//       .submit-button {
//         background-color: $bgDarkPurple;
//         color: white;
//         padding: 10px 20px;
//         border-radius: 5px;
//         border: none;
//         cursor: pointer;
//         transition: background-color 0.3s;
//         &:hover {
//           background-color: $bgBtn;
//         }
//       }  
//       .cancel-button {
//         background-color: transparent;
//         color: $fontDarkTrans;
//         padding: 10px 20px;
//         border-radius: 5px;
//         border: none;
//         cursor: pointer;
//         transition: background-color 0.3s;
//         &:hover {
//           background-color: var(--bg-white);
//         }
//       }
//     }
//   }

// }

// .popup-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #00000066;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 9999;
//   .popup {
//     background-color: white;
//     border-radius: 5px;
//     padding: 20px;
//     width: 400px;
//     box-shadow: 0 0 10px #00000033;

//     h2 {
//       font-size: 1.8rem;
//       margin-top: 0;
//       color: $fontPurple;
//     }

//     label {
//       display: block;
//       margin-bottom: 10px;
//       font-weight: 500;
//       color: $fontDarkTrans;
//     }

//     input[type=email] {
//       width: 100%;
//       padding: 10px;
//       border: 1px solid #ccc;
//       border-radius: 5px;
//       margin-bottom: 20px;
//       box-sizing: border-box;
//     }

//     .button-container {
//       display: flex;
//       justify-content: space-between;
//       .submit-button {
//         background-color: $bgDarkPurple;
//         color: white;
//         padding: 10px 20px;
//         border-radius: 5px;
//         border: none;
//         cursor: pointer;
//         transition: background-color 0.3s;
//         &:hover {
//           background-color: $bgBtn;
//         }
//       }  
//       .cancel-button {
//         background-color: transparent;
//         color: $fontDarkTrans;
//         padding: 10px 20px;
//         border-radius: 5px;
//         border: none;
//         cursor: pointer;
//         transition: background-color 0.3s;
//         &:hover {
//           background-color: var(--bg-white);
//         }
//       }
//     }
//   }

// }

// .create-new-folder {
//   position: relative;

//   .popup-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .popup-content {
//       background-color: #fff;
//       padding: 20px;
//       border-radius: 5px;
//       .close-btn {
//         position: absolute;
//         top: 10px;
//         right: 10px;
//         background-color: transparent;
//         border: none;
//         cursor: pointer;
//       }
//     }
//   }
// }

.details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px #00000026;
  max-width: 90%;
  max-height: 90%;
  width: 500px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .doar-module-open {
    overflow: hidden;
  }

  .details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .details-title {
    font-size: 20px;
    line-height: 1.25;
    color: #001737;
    font-weight: 500;
    margin: 0px 0px 8px;
  }

  .details-close {
    border: none;
    background: transparent;
    font-weight: 300;
    font-size: 28px;
    line-height: 0.87;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    appearance: none;
    color: rgb(27, 46, 75);
    text-shadow: #fff 0px 1px 0px;
    opacity: 0.5;
    cursor: pointer;
  }

  .details-body {
    flex: 1;
    overflow: auto;

    .details-content {
      margin-top: 20px;
    }

    .details-button {
      border: none;
      background: transparent;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      line-height: 1.5;
      user-select: none;
      border: 1px solid #5f6d88;
      transition: color 0.15s ease-in-out 0s,
        background-color 0.15s ease-in-out 0s,
        border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s;
      color: #fff;
      background-color: #5f6d88;
      padding: 0.46875rem 0.9375rem;
      font-size: 0.875rem;
      border-radius: 0.25rem;
    }
  }
}