* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --text-main:#5023B1;
  --text-white: #fff;
  --text-dark: #421D44;
  --text-orange: #D533F3;
  --bg-purple-light: #f5f5f5;
  --bg-white: #fff;
  --bg-pink: #D533F3;
  --bg-dark: #421D44;
  --bg-files: #fff;
  --bg-border:#D533F3;
  --bg-line:#f2f7fe;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  overflow: hidden;
}

.dark-content {
  --text-main:#652be0;
  --text-white: #e6e6e6;
  --text-dark: #fff;
  --text-orange: #DA583C;
  --bg-purple-light: #A740EC;
  --bg-white: #110D75;
  --bg-pink: #D533F3;
  --bg-dark: #DA583C;
  --bg-files: #0b094b;
  --bg-border:#201ac9;
  --bg-line:#413f76;
}

.wrapper {
  width: 50px;
  height: 25px;
  position: absolute;
  right: 18%;
  top: 3.5%;
  z-index: 11111;
}
.wrapper .switch {
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 21px;
}
.wrapper .switch input {
  display: none;
}
.wrapper .switch .wave {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px; /* Half of the height to make a rounded effect */
  width: 50px; /* Adjusted width for the wave */
  height: 21px; /* Adjusted height for the wave */
  display: none;
}
.wrapper .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-main);
  transition: all 1.4s;
  border-radius: 10.5px; /* Half of the height to make a rounded effect */
  z-index: 100;
  overflow: hidden;
}
.wrapper .switch .slider:before, .wrapper .switch .slider:after {
  position: absolute;
  content: "";
  height: 13px; /* Half of the height to make a rounded effect */
  width: 13px; /* Half of the height to make a rounded effect */
  left: 2px; /* Adjusted position for the slider before and after elements */
  bottom: 4px; /* Adjusted position for the slider before and after elements */
  border-radius: 10.5px; /* Half of the height to make a rounded effect */
  background-color: #fff;
}
.wrapper .switch .slider:before {
  transition: 0.4s;
}
.wrapper .switch .slider:after {
  transition: 0.5s;
}
.wrapper .switch input:checked + .slider {
  background-color: transparent;
}
.wrapper .switch input:checked ~ .wave {
  background-color: var(--text-orange);
  display: block;
}
.wrapper .switch input:checked + .slider:before {
  transform: translateX(32.5px); /* Half of the width to center the before element */
}
.wrapper .switch input:checked + .slider:after {
  transform: translateX(32.5px); /* Half of the width to center the after element */
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--bg-line);
  background-color: var(--bg-white);
}
.header .logo {
  width: 19%;
  height: 60px;
  padding-left: 20px;
}
.header .logo .logo-img {
  width: 90px;
  height: 59.6px;
}
.header .nav-menu {
  width: 46.3%;
}
.header .nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
}
.header .nav-menu ul li a {
  margin-right: 35px;
  color: var(--text-main);
  font-weight: 500;
}
.header .nav-menu ul li a:hover {
  color: var(--text-orange);
  transition: all 0.4s ease 0s;
}
.header .notification-bar {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 24px;
}
.header .notification-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header .notification-bar ul .avatar {
  border-radius: 50%;
  background-color: var(--bg-dark);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header .notification-bar .fa-regular,
.header .notification-bar .fa-solid {
  color: var(--text-main);
  cursor: pointer;
}
.header .notification-bar .fa-regular:hover,
.header .notification-bar .fa-solid:hover {
  color: var(--text-orange);
  transition: all 0.4s ease 0s;
}

.left-container {
  width: 240px;
  height: 500px;
  position: absolute;
  background-color: var(--bg-white);
  border-right: 1px solid var(--bg-line);
  top: 9.8%;
}
.left-container .left-bar-create-btns {
  width: 240px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: transparent;
  border-bottom: 1px solid var(--bg-line);
  padding: 10.8px;
  gap: 23px;
}
.left-container .left-bar-create-btns .new-btn-dropdown .new-btn {
  width: 85px;
  height: 26px;
  background: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: rgba(27, 46, 75, 0.7019607843);
  letter-spacing: 0.5px;
  border: 1px solid #c0ccda;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
}
.left-container .left-bar-create-btns .new-btn-dropdown .new-btn:hover {
  color: #3e4678;
  border: 1px solid #3e4678;
  transition: all 0.4s ease 0s;
}
.left-container .left-bar-create-btns .new-btn-dropdown .dropdown-menu {
  width: 100px;
  position: absolute;
  display: block;
  will-change: transform;
  z-index: 1000;
  float: left;
  background-color: var(--bg-white);
  text-align: left;
  border-radius: 0.25rem;
  border: 1px solid rgba(131, 146, 165, 0.2705882353);
}
.left-container .left-bar-create-btns .new-btn-dropdown .dropdown-menu li {
  width: 100px;
  height: 31px;
  padding: 6px 14px;
  cursor: pointer;
  color: var(--text-dark);
}
.left-container .left-bar-create-btns .new-btn-dropdown .dropdown-menu li:hover {
  width: 100px;
  height: 31px;
  color: rgba(40, 44, 177, 0.8);
  background-color: #a2abe1;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .upload-btn {
  width: 85px;
  height: 26px;
  background: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  background-color: rgba(40, 44, 177, 0.8);
  border: 1px solid rgba(40, 44, 177, 0.8);
  border-radius: 0.25rem;
  cursor: pointer;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .upload-btn:hover {
  background-color: #3e4678;
  border: 1px solid #212529;
  transition: all 0.4s ease 0s;
}
.left-container .left-bar-create-btns .upload-btn-dropdown .dropdown-menu {
  width: 100px;
  position: absolute;
  display: block;
  will-change: transform;
  z-index: 1000;
  float: left;
  background-color: var(--bg-white);
  text-align: left;
  border-radius: 0.25rem;
  border: 1px solid rgba(131, 146, 165, 0.2705882353);
}
.left-container .left-bar-create-btns .upload-btn-dropdown .dropdown-menu li {
  width: 100px;
  height: 31px;
  padding: 6px 14px;
  cursor: pointer;
  color: var(--text-dark);
}
.left-container .left-bar-create-btns .upload-btn-dropdown .dropdown-menu li:hover {
  width: 100px;
  height: 31px;
  color: rgba(40, 44, 177, 0.8);
  background-color: #a2abe1;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.left-container .scroll-bar {
  height: 100%;
  margin-top: 24%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--bg-white);
}
.left-container .scroll-bar:hover {
  overflow: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.left-container .scroll-bar:hover::-webkit-scrollbar {
  width: 4px;
}
.left-container .scroll-bar:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg-white);
  border-radius: 10px;
}
.left-container .scroll-bar:hover::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 10px;
}
.left-container .scroll-bar:hover::-webkit-scrollbar-thumb:hover {
  background: #a2abe1;
}
.left-container .scroll-bar .language-bar {
  width: 240px;
  margin-bottom: 15px;
}
.left-container .scroll-bar .menu-title {
  margin-bottom: 10px;
  margin-top: 10px;
}
.left-container .scroll-bar .menu-title span {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #D4D4D4;
}
.left-container .scroll-bar .my-drive,
.left-container .scroll-bar .file-lib {
  padding-left: 25px;
}
.left-container .scroll-bar .my-drive li,
.left-container .scroll-bar .file-lib li {
  width: 199px;
  height: 31px;
  padding: 6px 10px;
}
.left-container .scroll-bar .my-drive li:hover,
.left-container .scroll-bar .file-lib li:hover {
  width: 199px;
  height: 31px;
  color: rgba(40, 44, 177, 0.8);
  background-color: #a2abe1;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.left-container .scroll-bar .my-drive a,
.left-container .scroll-bar .file-lib a {
  color: var(--text-dark);
  font-size: 13px;
}
.left-container .scroll-bar .my-drive .fa-regular,
.left-container .scroll-bar .my-drive .fa-solid,
.left-container .scroll-bar .file-lib .fa-regular,
.left-container .scroll-bar .file-lib .fa-solid {
  margin-right: 10px;
}
.left-container .scroll-bar .storage {
  padding-left: 25px;
}
.left-container .scroll-bar .storage .menu-title {
  margin-bottom: 25px;
}
.left-container .scroll-bar .storage .storage-status {
  display: flex;
  flex-direction: column;
  width: 199px;
  height: 45px;
  color: var(--text-dark);
}
.left-container .scroll-bar .storage .storage-status .used {
  position: relative;
  bottom: 35%;
  left: 21%;
  width: 83%;
  font-size: 14px;
}
.left-container .scroll-bar .storage .storage-status .progress {
  position: relative;
  bottom: 35%;
  left: 21%;
}
.left-container .scroll-bar .storage .offer {
  width: 199px;
  position: relative;
  bottom: 20px;
}
.left-container .scroll-bar .storage .offer .offer-text {
  font-size: 12px;
  color: var(--text-dark);
}
.left-container .scroll-bar .storage .offer a {
  color: var(--text-main);
  font-size: 12px;
  margin-bottom: 6px;
}

.search {
  width: 81%;
  height: 48px;
  position: absolute;
  border-bottom: 1px solid var(--bg-line);
  border-left: 1px solid var(--bg-line);
  border-top: transparent;
  top: 9.8%;
  left: 18.7%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-white);
}
.search .search-bar {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.search .search-bar .fa-solid {
  color: #5f5d5d;
  cursor: pointer;
  opacity: 0.5;
}
.search .search-bar input {
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 89%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
}
.search .search-bar input::-moz-placeholder {
  font-weight: 500;
  opacity: 0.5;
  color: #5f5d5d;
}
.search .search-bar input::placeholder {
  font-weight: 500;
  opacity: 0.5;
  color: #5f5d5d;
}
.search .settings ul {
  display: flex;
  flex-direction: row;
}
.search .settings ul li {
  margin-right: 20px;
}
.search .settings ul .fa-solid {
  color: var(--text-main);
}
.search .settings ul .fa-solid:hover {
  color: var(--text-orange);
  transition: all 0.4s ease 0s;
}

.main-container {
  width: 81%;
  position: absolute;
  top: 17.7%;
  left: 18.7%;
  background-color: var(--bg-white);
  border-left: 1px solid var(--bg-line);
  padding: 20px 25px;
  height: 94%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 15px;
}
.main-container:hover {
  overflow: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.main-container:hover::-webkit-scrollbar {
  width: 4px;
}
.main-container:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg-white);
  border-radius: 10px;
}
.main-container:hover::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 10px;
}
.main-container:hover::-webkit-scrollbar-thumb:hover {
  background: #a2abe1;
}
.main-container h1 {
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-main);
}
.main-container .menu-title {
  margin-bottom: 15px;
}
.main-container .menu-title span {
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #D4D4D4;
}
.main-container .folders {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 81%;
  height: 45%;
  justify-content: center;
}
.main-container .folders .folder-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  row-gap: 15px;
}
.main-container .folders .folder-items .folder {
  width: 236px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--bg-files);
  border: 1px solid var(--text-main);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.main-container .folders .folder-items .folder:hover {
  border: 1px solid var(--text-orange);
}
.main-container .folders .folder-items .folder .fa-regular {
  opacity: 0.7;
  color: rgba(40, 44, 177, 0.8);
}
.main-container .folders .folder-items .folder .description .name {
  font-weight: 500;
  color: var(--text-main);
}
.main-container .folders .folder-items .folder .description .name:hover {
  color: var(--text-orange);
  transition: all 0.4s ease 0s;
}
.main-container .folders .folder-items .folder .description .count {
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #475362;
}
.main-container .RecentlyAccessed-container {
  margin-bottom: 20px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 188px);
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container {
  width: 188px;
  height: 222px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: var(--bg-files);
  background-clip: border-box;
  border: 1px solid var(--bg-line);
  border-radius: 4px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container:hover {
  border: 1px solid var(--text-orange);
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .icon-preview {
  width: 166px;
  height: 120px;
  background-color: var(--bg-files);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .icon-preview .icon {
  width: 48px;
  height: 48px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .name {
  font-weight: 500;
  transition: all 0.4s ease 0s;
  margin-top: 10px;
  color: var(--text-main);
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .name:hover {
  color: var(--text-orange);
  transition: all 0.4s ease 0s;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .type {
  color: #475362;
  margin-top: 5px;
  font-size: 12px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .size {
  font-size: 12px;
  color: #8392a5;
  margin-top: 9px;
}
.main-container .RecentlyAccessed-container .AllFilesList-container .AllFilesPost-container .seen {
  font-size: 12px;
  color: #8392a5;
  margin-top: 9px;
}
.main-container .Files-container {
  margin-bottom: 7%;
}
.main-container .Files-container .AllFilesList-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 188px);
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container {
  width: 188px;
  height: 222px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: var(--bg-files);
  background-clip: border-box;
  border: 1px solid var(--bg-line);
  border-radius: 4px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container:hover {
  border: 1px solid var(--text-orange);
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .icon-preview {
  width: 166px;
  height: 120px;
  background-color: var(--bg-files);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .icon-preview .icon {
  width: 48px;
  height: 48px;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .name {
  font-weight: 500;
  transition: all 0.4s ease 0s;
  margin-top: 10px;
  color: var(--text-main);
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .name:hover {
  color: var(--text-orange);
  transition: all 0.4s ease 0s;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .type {
  color: #475362;
  margin-top: 5px;
  font-size: 12px;
}
.main-container .Files-container .AllFilesList-container .AllFilesPost-container .size {
  font-size: 12px;
  color: #8392a5;
  margin-top: 9px;
}

.modal-container {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  font-size: 0.875rem;
  color: #001737;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(131, 146, 165, 0.2705882353);
  border-radius: 0.25rem;
  box-shadow: rgba(28, 39, 60, 0.0392156863) 0px 0px 8px 2px;
  padding: 5px;
  display: block;
  top: 1%;
  right: 0px;
  margin-top: 10px;
}
.modal-container .modal-close {
  background: none;
  border: none;
  position: relative;
  left: 89%;
  cursor: pointer;
}
.modal-container .menu-hidden {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.modal-container .menu-hidden .ModalViewDetailsButton, .modal-container .menu-hidden .ModalShareButton,
.modal-container .menu-hidden .MarkImportant, .modal-container .menu-hidden .Copy, .modal-container .menu-hidden .Delete, .modal-container .menu-hidden .Move,
.modal-container .menu-hidden .Rename, .modal-container .menu-hidden .Download {
  width: 100px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  position: fixed;
}
.modal-container .menu-hidden .ModalViewDetailsButton .show, .modal-container .menu-hidden .ModalShareButton .show,
.modal-container .menu-hidden .MarkImportant .show, .modal-container .menu-hidden .Copy .show, .modal-container .menu-hidden .Delete .show, .modal-container .menu-hidden .Move .show,
.modal-container .menu-hidden .Rename .show, .modal-container .menu-hidden .Download .show {
  display: block;
}
.modal-container .menu-hidden .ModalViewDetailsButton .hide, .modal-container .menu-hidden .ModalShareButton .hide,
.modal-container .menu-hidden .MarkImportant .hide, .modal-container .menu-hidden .Copy .hide, .modal-container .menu-hidden .Delete .hide, .modal-container .menu-hidden .Move .hide,
.modal-container .menu-hidden .Rename .hide, .modal-container .menu-hidden .Download .hide {
  display: none;
}
.modal-container .menu-hidden .ModalViewDetailsButton .overlay, .modal-container .menu-hidden .ModalShareButton .overlay,
.modal-container .menu-hidden .MarkImportant .overlay, .modal-container .menu-hidden .Copy .overlay, .modal-container .menu-hidden .Delete .overlay, .modal-container .menu-hidden .Move .overlay,
.modal-container .menu-hidden .Rename .overlay, .modal-container .menu-hidden .Download .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2274509804);
  transition: opacity 0.2s ease;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal, .modal-container .menu-hidden .ModalShareButton .modal,
.modal-container .menu-hidden .MarkImportant .modal, .modal-container .menu-hidden .Copy .modal, .modal-container .menu-hidden .Delete .modal, .modal-container .menu-hidden .Move .modal,
.modal-container .menu-hidden .Rename .modal, .modal-container .menu-hidden .Download .modal {
  width: 500px;
  height: 487px;
  position: fixed;
  left: 35%;
  bottom: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal h1, .modal-container .menu-hidden .ModalShareButton .modal h1,
.modal-container .menu-hidden .MarkImportant .modal h1, .modal-container .menu-hidden .Copy .modal h1, .modal-container .menu-hidden .Delete .modal h1, .modal-container .menu-hidden .Move .modal h1,
.modal-container .menu-hidden .Rename .modal h1, .modal-container .menu-hidden .Download .modal h1 {
  font-size: 20px;
  line-height: 1.25;
  color: #001737;
  font-weight: 500;
  margin: 0px 0px 8px;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .desc-form, .modal-container .menu-hidden .ModalShareButton .modal .desc-form,
.modal-container .menu-hidden .MarkImportant .modal .desc-form, .modal-container .menu-hidden .Copy .modal .desc-form, .modal-container .menu-hidden .Delete .modal .desc-form, .modal-container .menu-hidden .Move .modal .desc-form,
.modal-container .menu-hidden .Rename .modal .desc-form, .modal-container .menu-hidden .Download .modal .desc-form {
  width: 282px;
  height: 100px;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .desc-form textarea, .modal-container .menu-hidden .ModalShareButton .modal .desc-form textarea,
.modal-container .menu-hidden .MarkImportant .modal .desc-form textarea, .modal-container .menu-hidden .Copy .modal .desc-form textarea, .modal-container .menu-hidden .Delete .modal .desc-form textarea, .modal-container .menu-hidden .Move .modal .desc-form textarea,
.modal-container .menu-hidden .Rename .modal .desc-form textarea, .modal-container .menu-hidden .Download .modal .desc-form textarea {
  width: 282px;
  height: 100px;
  padding: 0.46875rem 0.625rem;
  font-size: 0.875rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #1b2e4b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c0ccda;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  margin-top: 5px;
  white-space: nowrap;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .desc-form textarea:focus, .modal-container .menu-hidden .ModalShareButton .modal .desc-form textarea:focus,
.modal-container .menu-hidden .MarkImportant .modal .desc-form textarea:focus, .modal-container .menu-hidden .Copy .modal .desc-form textarea:focus, .modal-container .menu-hidden .Delete .modal .desc-form textarea:focus, .modal-container .menu-hidden .Move .modal .desc-form textarea:focus,
.modal-container .menu-hidden .Rename .modal .desc-form textarea:focus, .modal-container .menu-hidden .Download .modal .desc-form textarea:focus {
  color: #596882;
  background-color: #fff;
  border-color: #7cb2fe;
  outline: 0px;
  box-shadow: rgba(1, 104, 250, 0.2509803922) 0px 0px 0px 0.2rem;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .ModalShareButton .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .MarkImportant .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .Copy .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .Delete .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .Move .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .Rename .modal .desc-form textarea::-moz-placeholder, .modal-container .menu-hidden .Download .modal .desc-form textarea::-moz-placeholder {
  color: #c0ccda;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .desc-form textarea::placeholder, .modal-container .menu-hidden .ModalShareButton .modal .desc-form textarea::placeholder,
.modal-container .menu-hidden .MarkImportant .modal .desc-form textarea::placeholder, .modal-container .menu-hidden .Copy .modal .desc-form textarea::placeholder, .modal-container .menu-hidden .Delete .modal .desc-form textarea::placeholder, .modal-container .menu-hidden .Move .modal .desc-form textarea::placeholder,
.modal-container .menu-hidden .Rename .modal .desc-form textarea::placeholder, .modal-container .menu-hidden .Download .modal .desc-form textarea::placeholder {
  color: #c0ccda;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .details-description, .modal-container .menu-hidden .ModalShareButton .modal .details-description,
.modal-container .menu-hidden .MarkImportant .modal .details-description, .modal-container .menu-hidden .Copy .modal .details-description, .modal-container .menu-hidden .Delete .modal .details-description, .modal-container .menu-hidden .Move .modal .details-description,
.modal-container .menu-hidden .Rename .modal .details-description, .modal-container .menu-hidden .Download .modal .details-description {
  display: flex;
  flex-direction: column;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .details-description .description-line, .modal-container .menu-hidden .ModalShareButton .modal .details-description .description-line,
.modal-container .menu-hidden .MarkImportant .modal .details-description .description-line, .modal-container .menu-hidden .Copy .modal .details-description .description-line, .modal-container .menu-hidden .Delete .modal .details-description .description-line, .modal-container .menu-hidden .Move .modal .details-description .description-line,
.modal-container .menu-hidden .Rename .modal .details-description .description-line, .modal-container .menu-hidden .Download .modal .details-description .description-line {
  display: flex;
  flex-direction: row;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .details-description .description-line .left, .modal-container .menu-hidden .ModalShareButton .modal .details-description .description-line .left,
.modal-container .menu-hidden .MarkImportant .modal .details-description .description-line .left, .modal-container .menu-hidden .Copy .modal .details-description .description-line .left, .modal-container .menu-hidden .Delete .modal .details-description .description-line .left, .modal-container .menu-hidden .Move .modal .details-description .description-line .left,
.modal-container .menu-hidden .Rename .modal .details-description .description-line .left, .modal-container .menu-hidden .Download .modal .details-description .description-line .left {
  width: 116px;
  margin-top: 10px;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .details-description .description-line .right, .modal-container .menu-hidden .ModalShareButton .modal .details-description .description-line .right,
.modal-container .menu-hidden .MarkImportant .modal .details-description .description-line .right, .modal-container .menu-hidden .Copy .modal .details-description .description-line .right, .modal-container .menu-hidden .Delete .modal .details-description .description-line .right, .modal-container .menu-hidden .Move .modal .details-description .description-line .right,
.modal-container .menu-hidden .Rename .modal .details-description .description-line .right, .modal-container .menu-hidden .Download .modal .details-description .description-line .right {
  margin: 10px 16px;
}
.modal-container .menu-hidden .ModalViewDetailsButton .modal .details-description .description-line .right-text, .modal-container .menu-hidden .ModalShareButton .modal .details-description .description-line .right-text,
.modal-container .menu-hidden .MarkImportant .modal .details-description .description-line .right-text, .modal-container .menu-hidden .Copy .modal .details-description .description-line .right-text, .modal-container .menu-hidden .Delete .modal .details-description .description-line .right-text, .modal-container .menu-hidden .Move .modal .details-description .description-line .right-text,
.modal-container .menu-hidden .Rename .modal .details-description .description-line .right-text, .modal-container .menu-hidden .Download .modal .details-description .description-line .right-text {
  width: 282px;
  height: 105px;
  margin: 10px 60px;
}
.modal-container .menu-hidden .ModalViewDetailsButton .submit-btn, .modal-container .menu-hidden .ModalShareButton .submit-btn,
.modal-container .menu-hidden .MarkImportant .submit-btn, .modal-container .menu-hidden .Copy .submit-btn, .modal-container .menu-hidden .Delete .submit-btn, .modal-container .menu-hidden .Move .submit-btn,
.modal-container .menu-hidden .Rename .submit-btn, .modal-container .menu-hidden .Download .submit-btn {
  width: 69px;
  height: 37px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  border: 1px solid #5f6d88;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #fff;
  background-color: #5f6d88;
  padding: 0.46875rem 0.9375rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  margin-top: 38px;
  margin-left: 77%;
}
.modal-container .menu-hidden .ModalViewDetailsButton .close-btn, .modal-container .menu-hidden .ModalShareButton .close-btn,
.modal-container .menu-hidden .MarkImportant .close-btn, .modal-container .menu-hidden .Copy .close-btn, .modal-container .menu-hidden .Delete .close-btn, .modal-container .menu-hidden .Move .close-btn,
.modal-container .menu-hidden .Rename .close-btn, .modal-container .menu-hidden .Download .close-btn {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5607843137);
}
.modal-container .menu-hidden .ModalViewDetailsButton .details-btn, .modal-container .menu-hidden .ModalShareButton .details-btn,
.modal-container .menu-hidden .MarkImportant .details-btn, .modal-container .menu-hidden .Copy .details-btn, .modal-container .menu-hidden .Delete .details-btn, .modal-container .menu-hidden .Move .details-btn,
.modal-container .menu-hidden .Rename .details-btn, .modal-container .menu-hidden .Download .details-btn {
  height: 27px;
  width: 100px;
  font-size: 12px;
  display: flex;
  padding: 6px 0px;
  font-weight: 400;
  color: #1c273c;
  background: transparent;
  border: none;
  cursor: pointer;
}
.modal-container .menu-hidden .ModalViewDetailsButton .details-btn .menu-hidden-icon, .modal-container .menu-hidden .ModalShareButton .details-btn .menu-hidden-icon,
.modal-container .menu-hidden .MarkImportant .details-btn .menu-hidden-icon, .modal-container .menu-hidden .Copy .details-btn .menu-hidden-icon, .modal-container .menu-hidden .Delete .details-btn .menu-hidden-icon, .modal-container .menu-hidden .Move .details-btn .menu-hidden-icon,
.modal-container .menu-hidden .Rename .details-btn .menu-hidden-icon, .modal-container .menu-hidden .Download .details-btn .menu-hidden-icon {
  width: 14px;
  height: 14px;
  stroke-width: 2.5px;
  margin-right: 10px;
  color: #8392a5;
}
.modal-container .menu-hidden .menu-list {
  height: 27px;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out 0s;
  font-weight: 400;
  color: #1c273c;
  text-align: inherit;
  white-space: nowrap;
  background: transparent;
  border: none;
}
.modal-container .menu-hidden .menu-list:hover {
  background-color: rgba(162, 171, 225, 0.2705882353);
  border-radius: 0.25rem;
  transition: all 0.4s ease 0s;
}
.modal-container .menu-hidden .ModalShareButton .modal {
  width: 500px;
  height: 377px;
}
.modal-container .menu-hidden .ModalShareButton .modal h1 {
  margin-bottom: 25px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-email {
  display: flex;
  flex-direction: column;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-email form p {
  margin-bottom: 15px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-email form input {
  width: 438px;
  height: 38px;
  padding: 0.46875rem 0.625rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(27, 46, 75);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c0ccda;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  margin-bottom: 15px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-email form input:focus {
  color: #596882;
  background-color: #fff;
  border-color: #7cb2fe;
  outline: 0px;
  box-shadow: rgba(1, 104, 250, 0.2509803922) 0px 0px 0px 0.2rem;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-email form input::-moz-placeholder {
  color: #c0ccda;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-email form input::placeholder {
  color: #c0ccda;
}
.modal-container .menu-hidden .ModalShareButton .modal .rights {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 35px;
}
.modal-container .menu-hidden .ModalShareButton .modal .rights p {
  font-size: 13px;
}
.modal-container .menu-hidden .ModalShareButton .modal .rights select {
  font-size: 13px;
  border: none;
  transition: all 0.4s ease 0s;
  color: #0168fa;
  text-decoration: none;
}
.modal-container .menu-hidden .ModalShareButton .modal .rights select option {
  transition: all 0.4s ease 0s;
  color: #0168fa;
  text-decoration: none;
  padding: 5px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-social {
  border-top: 1px solid rgba(72, 94, 144, 0.16);
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  padding: 20px 0px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-social p {
  margin-bottom: 10px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-social .fa-brands {
  margin-right: 10px;
}
.modal-container .menu-hidden .ModalShareButton .modal .share-social .fa-brands:hover {
  color: #7cb2fe;
}
.modal-container .menu-hidden .ModalShareButton .modal .submit {
  position: relative;
  bottom: 12px;
}
.modal-container .menu-hidden .Move .modal {
  width: 500px;
  height: 377px;
}
.modal-container .menu-hidden .Move .modal h1 {
  margin-bottom: 25px;
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items {
  display: flex;
  flex-direction: column;
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items .folder {
  width: 236px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items .folder .icon-preview {
  background: none;
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items .folder .icon-preview .fa-regular {
  display: none;
  opacity: 0.7;
  color: rgba(40, 44, 177, 0.8);
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items .folder .description .name {
  font-weight: 500;
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items .folder .description .name:hover {
  color: rgba(40, 44, 177, 0.8);
  transition: all 0.4s ease 0s;
}
.modal-container .menu-hidden .Move .modal .MoveFolder-list .folder-items .folder .description .count {
  display: none;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: rgba(27, 46, 75, 0.7019607843);
}
.modal-container .menu-hidden .Move .modal .submit {
  position: relative;
  bottom: 12px;
}

.modal-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.modal-button-icon {
  width: 13px;
  height: 13px;
}

.authorization {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://login-static.cdn-one.com/v8.1.0/media/filemanager.9ac8bde2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.authorization .authorization-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 22%;
  width: 100%;
  height: 45%;
  background-color: rgba(27, 46, 75, 0.7019607843);
  text-align: center;
}
.authorization .authorization-content .login {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid white;
}
.authorization .authorization-content .login .login-content h2 {
  color: #fff;
  padding-top: 15px;
}
.authorization .authorization-content .login .login-content .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.authorization .authorization-content .login .login-content .login-form input[type=text], .authorization .authorization-content .login .login-content .login-form [type=password] {
  line-height: 21px;
  height: 20px;
  border: 1px solid #c6c6c6;
  color: #3c3c3c;
  border-radius: 27px;
  padding: 25px 30px;
  outline: 0 none;
  font-size: 15px;
}
.authorization .authorization-content .login .login-content .login-form .login-form-submit {
  width: 150px;
  background-color: #0078c8;
  line-height: 31px;
  padding: 0 30px;
  border-radius: 27px;
  font-size: 15px;
  color: #fff;
  border: 2px solid #0078c8;
  outline: 0 none;
  cursor: pointer;
}
.authorization .authorization-content .login .login-content .login-form .forgot {
  color: #f3f7f9;
  text-decoration: none;
  margin-top: 10px;
}
.authorization .authorization-content .register {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.authorization .authorization-content .register .register-content h2 {
  color: #fff;
  padding-top: 15px;
}
.authorization .authorization-content .register .register-content span {
  color: #fff;
}
.authorization .authorization-content .register .register-content .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.authorization .authorization-content .register .register-content .register-form input[type=text], .authorization .authorization-content .register .register-content .register-form [type=password] {
  line-height: 21px;
  height: 20px;
  border: 1px solid #c6c6c6;
  color: #3c3c3c;
  border-radius: 27px;
  padding: 25px 30px;
  outline: 0 none;
  font-size: 15px;
}
.authorization .authorization-content .register .register-content .register-form .register-form-submit {
  width: 150px;
  background-color: #0078c8;
  line-height: 31px;
  padding: 0 30px;
  border-radius: 27px;
  font-size: 15px;
  color: #fff;
  border: 2px solid #0078c8;
  outline: 0 none;
  cursor: pointer;
}
.authorization .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  top: 43%;
  width: 100%;
  height: 10%;
  text-align: center;
}
.authorization .copyright {
  color: #fff;
}

.LanguageBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.LanguageBar select {
  width: 120px;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: rgba(146, 145, 145, 0.4901960784);
  color: #fff;
  cursor: pointer;
}
.LanguageBar select:focus {
  border: none;
}

.details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
  max-width: 90%;
  max-height: 90%;
  width: 500px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.details-container .doar-module-open {
  overflow: hidden;
}
.details-container .details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.details-container .details-title {
  font-size: 20px;
  line-height: 1.25;
  color: #001737;
  font-weight: 500;
  margin: 0px 0px 8px;
}
.details-container .details-close {
  border: none;
  background: transparent;
  font-weight: 300;
  font-size: 28px;
  line-height: 0.87;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: rgb(27, 46, 75);
  text-shadow: #fff 0px 1px 0px;
  opacity: 0.5;
  cursor: pointer;
}
.details-container .details-body {
  flex: 1;
  overflow: auto;
}
.details-container .details-body .details-content {
  margin-top: 20px;
}
.details-container .details-body .details-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid #5f6d88;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #fff;
  background-color: #5f6d88;
  padding: 0.46875rem 0.9375rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}/*# sourceMappingURL=App.css.map */